<!-- 
  @Author: Jason Y. Wu
  @Date:   2023-07-24 04:47:25
  @Last Modified by:   Jason Y. Wu
  @Last Modified time: 2023-07-24 05:06:57
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> <title> CSV FILE UPLOAD </title>
    </head>
    <body>
        <h1>Upload a CSV File</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload">
        </form>
    </body>
</html>
